@{
    ViewBag.Title = "Contact";
}

@Styles.Render("~/Content/css_Home/Home_index.css")

<div id="content">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Skopje <br />
        Vaska Kalajdziska br. 1<br />
        <abbr title="Phone">P:</abbr>
        070/700-700
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:itairlines@example.com">itairlines@gmail.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:itmarketion@example.com">itmarketion@gmail.com</a>
    </address>
</div>