@{
    ViewBag.Title = "Home Page";
}

<style>

    body {
        background: url("../../Img/log-sign-in.jpg") no-repeat center center fixed;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    #content{
        width: 100%;
        background-color: white;
        opacity: 0.9;
        border-radius: 5px;
        padding: 5%;
    }
</style>

@* Div content vo nego kje bide organizirano se za prebaruvanjeto na let*@
<div id="content" class="">
    <div class="row">
        <div class="col-3 text-black-50">
            <label for="from">From</label>
            <input id="from" type="text" class="form-control" placeholder="From"/>
        </div>
        <div class="col-3">
            <label for="to">Destination</label>
            <input id="from" type="text" class="form-control" placeholder="Destination" />
        </div>
    </div>


</div>