body {
    background: url("../../Img/log-sign-in.jpg") no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#content {
    width: 100%;
    background-color: white;
    opacity: 0.9;
    border-radius: 10px;
    padding: 5%;
}

.flightRow {
    background-color: lightgray;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    /*shadow*/
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
}

#tabelaDiv {
    padding: 15px;
}

.btn-outline-danger {
    color: white;
    background-color: #FF5A5A;
}

#content .col-sm-3 {
    border-left: 2px red solid;
}

#content .col-sm-3:nth-child(1) {
    border-left: 0px;
}

body > div.bootbox.modal.fade.bootbox-confirm.show > div > div > div.modal-footer > button.btn.btn-primary {
    background-color: #dc3545;
}
