@{
    ViewBag.Title = "Forgot Password Confirmation";
}

@Styles.Render("~/Content/css_Account/Account_ForgotPasswordConfirmation.css")

<div class="col-sm-8 mr-auto ml-auto" id="content">
    <hgroup class="title text-center">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <br />
    <div>
        <h4 class="text-center">
            Please check your email to reset your password
        </h4>

    </div>
</div>
